@import "vars";

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html,
body {
  height: 100vh;
}

body {
  position: relative;
  background-color: $black;
  font-family: $main-font;
  font-size: $s23;
  color: $white;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.first-screen {
  position: relative;
}

.container {
  position: relative;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.main__bg {
  display: block;
  width: 1440px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}

.main__logo {
  display: flex;
  align-items: center;
  font-family: $second-font;
  font-size: $s32;
  color: $font-light;
  text-transform: uppercase;
  transition: color .3s ease;

  &:hover {
    color: $orange-main;
  }

  &:active {
    color: $orange-light;
  }

  img {
    margin-right: 1.5rem;
  }
}
.main__title {
  display: none;
}

//  Blocks:
@import "blocks/header";
@import "blocks/survival";
@import "blocks/latest";
@import "blocks/notified";
@import "blocks/footer";