<section class="latest">
  <div class="container">
    <h2 class="latest__title">Latest articles</h2>
    <p class="latest__text">Breaking news from the wild</p>

    <div class="latest__slider">
      <div class="latest__slider-card">
        <h3>Deer</h3>
        <p>Naturalist investigation</p>
      </div>
      <div class="latest__slider-card">
        <h3>Squirrel</h3>
        <p>Kamikaze squirrels</p>
      </div>
      <div class="latest__slider-card">
        <h3>Bird</h3>
        <p>Birds Fight club</p>
      </div>
      <div class="arrow arrow__left"></div>
      <div class="arrow arrow__right"></div>
    </div>
  </div>
</section>