<footer class="footer">
  <div class="footer__bg main__bg"></div>
  <div class="container footer__main">
    <a href="/" class="main__logo">
      <img src="./assets/images/logo.svg" alt="Logo"> wildlife</a>

    <nav class="footer__nav">
      <ul class="footer__nav-list">
        <li class="footer__nav-item">
          <a href="#" class="footer__nav-link">Articles</a>
        </li>
        <li class="footer__nav-item">
          <a href="#" class="footer__nav-link">About us</a>
        </li>
        <li class="footer__nav-item">
          <a href="#" class="footer__nav-link">Learn more</a>
        </li>
      </ul>
    </nav>

    <ul class="footer__social">
      <li class="footer__social-item">
        <a href="#" class="footer__social-link">
          <i class="fab fa-facebook-f"></i>
        </a>
      </li>
      <li class="footer__social-item">
        <a href="#" class="footer__social-link">
          <i class="fab fa-instagram"></i>
        </a>
      </li>
      <li class="footer__social-item">
        <a href="#" class="footer__social-link">
          <i class="fab fa-pinterest-p"></i>
        </a>
      </li>
      <li class="footer__social-item">
        <a href="#" class="footer__social-link">
          <i class="fab fa-telegram-plane"></i>
        </a>
      </li>
    </ul>
  </div>
</footer>
