<header class="header">
    <a href="/" class="header__logo">
        <img src="./assets/images/logo.png" alt="Logo"> wildlife</a>

    <ul class="header__nav">
        <li class="header__nav-item"><a href="#" class="header__nav-link">blog</a></li>
        <li class="header__nav-item"><a href="#" class="header__nav-link">contacts</a></li>
        <li class="header__nav-item"><a href="#" class="header__nav-link"><i class="fas fa-search"></i></a></li>
        <li class="header__nav-item"><a href="#" class="header__nav-link sign-in">sign in</a></li>
    </ul>
</header>
