<div class="first-screen">
  <header class="header">
    <div class="container">

      <nav class="header__nav">
        <a href="/" class="main__logo">
          <img src="./assets/images/logo.svg" alt="Logo"> wildlife</a>

        <ul class="header__menu">
          <li class="header__menu-item">
            <a href="#" class="header__menu-link">Blog</a>
          </li>
          <li class="header__menu-item">
            <a href="#" class="header__menu-link">Contacts</a>
          </li>
          <li class="header__menu-item">
            <a href="#" class="header__menu-link">
              <i class="fas fa-search"></i>
            </a>
          </li>
          <li class="header__menu-item">
            <a href="#" class="header__menu-link sign-in">Sign in</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>

  <section class="survival">
    <div class="container survival__wrapper">
      <div class="survival__bg main__bg"></div>
      <h2 class="survival__title">survival</h2>
      <p class="survival__text">What this means is that we exist to help protect our environment and do in numbers of
        ways. You can save the planet by donation.</p>
      <a href="#" class="survival__btn">donate</a>
    </div>
  </section>
</div>

